<html>
  <head></head>
  <body>
    <h1>Hangman</h1>
    <p>
      <%= word %>
    </p>
    <p>
      You lost!
    </p>
    <form action='/new' method='post'>
      <input type='submit' value='New Game' />
    </form>
  </body>
</html>
