<html>
  <head></head>
  <body>
    <p>
      <%= ciphertext %>
    </p>
    <form>
      <label for='plaintext'>Plaintext</label>
      <input type='text' name='plaintext' required />
      <label for='shift'>Shift</label>
      <input type='number' name='shift' required />
      <input type='submit' value='"Encrypt"' />
    </form>
  </body>
</html>
